<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Reference Column -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
      <td mat-cell *matCellDef="let row">{{row.reference}}</td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha del pedido</th>
      <td mat-cell *matCellDef="let row">{{row.orderDate}}</td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de entrega</th>
      <td mat-cell *matCellDef="let row">{{row.deliveryDate}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

    <!-- Urgent Column -->
    <ng-container matColumnDef="urgent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Urgente</th>
      <td mat-cell *matCellDef="let row">{{row.urgent ? 'Sí' : 'No'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>